<div class="container">
	<div class="col-50">
		<div style="width: 100%;">
			<form [formGroup]="loginForm" novalidate>
			  <mat-form-field class="w-70" appearance="fill">
			    <mat-label>Username</mat-label>
			    <input matInput placeholder="ingresar username" formControlName="username">
  			  </mat-form-field>
		    <div class="w-70 mt-15" *ngIf="loginForm.get('username')?.errors && loginForm.get('username')?.dirty">
		    	<mat-hint *ngIf="loginForm.get('username')?.hasError('required')">Este campo es obligatorio</mat-hint>
		    </div>
  			  <br><br>
			  <mat-form-field class="w-70" appearance="fill">
			    <mat-label>E-mail</mat-label>
			    <input matInput placeholder="ingresar email" formControlName="email"> 
  			  </mat-form-field>
		    <div class="w-70 mt-15" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.dirty">
		    	<mat-hint *ngIf="loginForm.get('email')?.hasError('required')">Este campo es obligatorio</mat-hint>
		    	<mat-hint *ngIf="loginForm.get('email')?.hasError('email')">Formato de email inválido</mat-hint>
		    </div>
  			  <br><br>
  			  <button mat-raised-button color="primary" class="w-70" 
  			  (click)="login()" [disabled]="loginForm.invalid">Iniciar sesión</button>
  			</form>
		</div>
	</div>
	<div class="col-50 r-side">
		<div style="width: 50%;">
			<img [src]="'assets/img/reddit.png'" alt="" style="width: 100%;">
		</div>
	</div>
</div>