<div style="height: 7vh;">
<mat-toolbar color="primary" style="height: 100% !important">
    <span>Test de botón</span>
    <span class="spacer"></span>
	<a class="link" *ngIf="_logged()">{{user.name}}</a>
    <mat-icon class="icon" *ngIf="_logged()" [matMenuTriggerFor]="menu">account_circle</mat-icon>
    <mat-menu #menu="matMenu">
	  <button mat-menu-item (click)="logout()">Cerrar sesión <mat-icon class="iconLogout">logout</mat-icon></button>
	</mat-menu>
</mat-toolbar>
</div>
<router-outlet></router-outlet>