<div class="containerHome">

	<h1 align="center">Bienvenido nuevamente a nuestro sitio</h1>

	<br>

	<div class="full" *ngIf="!clicked">
		<div style="width: 100%;">
			<h1 align="center">{{timer}}</h1>
			<button mat-raised-button color="primary" class="btn" (click)="stopCount()">Click me!</button>
		</div>
		<div style="height: 300px; width: 30%; border: 1px solid black; margin-left: auto; border-radius: 10px; overflow-y: scroll;">
			<div style="display: flex; padding-left: 10px; padding-top: 10px;" *ngFor="let u of usersSimulated">
				<mat-icon>face</mat-icon>
				<small style="padding-left: 5px" 
					[ngClass]="{
						'purple': u.color=='purple',
						'blue': u.color=='blue',
						'green': u.color=='green',
						'yellow': u.color=='yellow',
						'orange': u.color=='orange',
						'red': u.color=='red',
						'grey': u.color=='grey'
					}"
				>{{u.user}}</small>
				<br><br>
			</div>
		</div>
	</div>
	<div class="w-60" *ngIf="clicked">
		Felicitaciones! Su color es 
		<small [ngClass]="{
			'purple': myColor=='purple',
			'blue': myColor=='blue',
			'green': myColor=='green',
			'yellow': myColor=='yellow',
			'orange': myColor=='orange',
			'red': myColor=='red',
			'grey': myColor=='grey'
		}">
			{{myColor}}
		</small>
	</div>

	<br>

	<h3 align="center" *ngIf="chart">Los demás usuarios clickearon</h3>
	<div class="chart-wrapper" *ngIf="chart">
	    <canvas baseChart 
	    [data]="pieChartData" 
	    [labels]="pieChartLabels" 
	    [chartType]="pieChartType"
	    [options]="pieChartOptions"
	    [plugins]="pieChartPlugins"
	    [legend]="pieChartLegend"
	    [colors]="donutColors">
	  </canvas>
	</div>

	<br>
	<app-cards-info></app-cards-info>

</div>